*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.cell{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: white;
}
